{
  "filename" : "Day3.py",
  "input_filename" : "test.txt",
  "log_filename" : "test.log",
  "classes" : ["Day3Parent", "operations"],
  "methods" : ["readfile","Writefile","doOperations","print_list","write_to_list","prefix","suffix","palindrome","most_repeated_word","split vowels","capitalize3rdletter","cap_5th_word","unique_words","makeDict","replace"]
}